<h2>Edit point</h2>

<%= render "form.html", changeset: @changeset,
                        action: point_path(@conn, :update, @point) %>

<span><%= link "Back", to: point_path(@conn, :index) %></span>
